# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Data files (optional)
data/
*.csv
*.parquet

# Models (optional)
*.h5
*.pt
*.pth

# IDE
.vscode/
.idea/
